<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240604459905-3bt4q4e6iln1u0ith9ofjfncfha5ibqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240604459905-3bt4q4e6iln1u0ith9ofjfncfha5ibqn</string>
	<key>API_KEY</key>
	<string>AIzaSyARJyNP8Eh4lunqBOE90dnMNZULEl8Xc80</string>
	<key>GCM_SENDER_ID</key>
	<string>240604459905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homecontroller</string>
	<key>PROJECT_ID</key>
	<string>homeremote-a209a</string>
	<key>STORAGE_BUCKET</key>
	<string>homeremote-a209a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240604459905:ios:503391d2923e3e4df76e80</string>
</dict>
</plist>